<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
  
    <li class='list'>
     
        <div class='item-img-content'>
           <%= image_tag post.image.variant(resize: '500x500'), class: "post-img" if post.image.attached? %>
        
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
            <%= post.name %>
          </h3>
    </div>
     <div class='post-price'>
            <span><%= post.rebyu %><br><%= post.category.name %></span>
            <div class='star-btn'>
             </div>
  <% end %>
</div>
<% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
<% else %>
  <%= image_tag ("noavatar.png") %>
<% end %>

