<%= render "shared/header" %>
<header class="header">


<div class='title-contents'>
    <h1 class='service-title'>
      映画Times
    </h1>
    
  </div>


  
 <div class='item-contents'>
<li><%= link_to "映画投稿", new_post_path, class:  'purchase-btn' %></li>
  <% if user_signed_in? %>
        <div class="user_nav grid-6">

         


          <span><%= current_user.nickname %>


            <ul class="user__info">
              <li>
                 <div><%= link_to "マイページ", user_path(current_user.id), class: "text-white" %></div> 
              
              </li>
            </ul>
          </span>
       
      <% end %>
      
  <% @posts.each do |post| %>
  <%= post.user.nickname %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
           <%= image_tag post.image.variant(resize: '500x500'), class: "post-img" if post.image.attached? %>
        
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
            <%= post.name %>
          </h3>
          <div class='post-price'>
            <span><%= post.rebyu %><br><%= post.category.name %></span>
            <div class='star-btn'>
             </div>
            <li>
            <%= link_to 'コメント', post_path(post.id), method: :get %>
          </li>
  
            </div>
          </div>
        </div>
        <% end %>
      </li>
       <% end %>

       