 <div class="img-upload">
<%= form_with model: @post, local: true do |form| %>
      <div class="weight-bold-text">
        映画の画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックして画像をアップロード
        </p>
        <%= form.file_field :image, id:"post-image" %>
      </div>
    </div>
  
<div class="movie_title">
<%= form.label :映画のタイトル入力 %><br>
<%= form.text_field :name %> 

</div>
<div class="rebyu"><%= form.label :レビューを書いてください %><br>
<%= form.text_area :rebyu %> 
</div>
<div class="weight-bold-text">
          映画のジャンルを選んでください
          <span class="indispensable">必須</span>
       
        <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>

</div>
  <div class="form-group row" id="star">
      レビューを付けてください
    <%= form.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= form.hidden_field :star, id: :review_star %>
    </div>
      
  <script>
    $('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'post[star]',
    half: false,
  });
  </script>
  <div class="btun">
<%= form.submit %> 
 </div>
<% end %>
