  
  <%= @post.user.nickname %>
      <li class='list'>
        
        <div class='item-img-content'>
           <%= image_tag @post.image.variant(resize: '500x500'), class: "post-img" if @post.image.attached? %>
        
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
            <%= @post.name %>
          </h3>
          <div class='post-price'>
            <span><%= @post.rebyu %><br><%= @post.category.name %></span>
            <div class='star-btn'>
             </div>
              </div>
              </div>
             
             
 <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post,@comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
          <p><%=link_to "削除", comment_path(comment.id), method: :delete %></p>
        </p>
      <% end %>
    </div>
     </div>